<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647789745459-q6l91afp6one71hq2dvesd6a2e5ha9ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647789745459-q6l91afp6one71hq2dvesd6a2e5ha9ou</string>
	<key>API_KEY</key>
	<string>AIzaSyCaS-Z2QUvFuG-ahPPg-RQf8F22nUmUFvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>647789745459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hidec.InstagramLikeApp</string>
	<key>PROJECT_ID</key>
	<string>instagramlikeapp-1c0e8</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramlikeapp-1c0e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647789745459:ios:187b32df3c2360414ada46</string>
</dict>
</plist>